@using MVCCivicaEmployeeMaster.ViewModels
@model ForgotPasswordViewModel

<div class="container">
    <h2 class="custom-heading text-center">Forgot Password</h2>
    @* <h3 class="text-center">Enter password recovery details</h3> *@
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="card shadow">
                <div class="card-body">
                    <form asp-action="ForgotPassword" method="post">
                        @* <div asp-validation-summary="All" class="text-danger"></div> *@
                        <div class="mb-3">
                            <label asp-for="LoginId" class="form-label"><i class="fa-solid fa-id-badge"></i> Login Id</label>
                            <input asp-for="LoginId" class="form-control" />
                            <span asp-validation-for="LoginId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"><i class="fa-solid fa-unlock"></i> New Password</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmNewPassword" class="form-label"><i class="fas fa-lock"></i> Confirm new password</label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PasswordHintId" class="form-label"><i class="fas fa-question-circle"></i> Password hint:</label>
                            <select asp-for="PasswordHintId" class="form-control custom-select">
                                <option value=0>--------Select password requiry hint--------</option>
                                <option value=1 data-category="PasswordHintId">What is your favourite colour?</option>
                                <option value=2 data-category="PasswordHintId">What is your birth city?</option>
                                <option value=3 data-category="PasswordHintId">What is your favourite holiday destination</option>
                            </select>
                            <span asp-validation-for="PasswordHintId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PasswordHintAnswer" class="form-label"><i class="fas fa-key"></i> Hint answer</label>
                            <input asp-for="PasswordHintAnswer" class="form-control" />
                            <span asp-validation-for="PasswordHintAnswer" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a type="button" class="btn btn-outline-danger me-2" asp-action="Login" asp-controller="Auth"><i class="fas fa-arrow-left"></i></a>
                            <input type="submit" value="Submit" class="btn btn-primary btn-block" style="background-color:#00b4c1" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

