@{
    ViewData["Title"] = "Registration Success";
}

<div class="text-center">
    <h1 class="display-4">Registeration Success</h1>
    <p>User sucessfully registered</p>
    <br />
    <a type="button" class="btn btn-outline-success" asp-action="Login" asp-controller="Auth">SignIn</a>
</div>
