<div class="container">
  <div *ngIf="loading" class="loader-overlay">
    <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
  </div>

  <h2 class="custom-heading text-center">Change Password</h2>
   <br>

   
   <div class="row justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="card shadow">
        <div class="card-body">
          <form #updatePasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(updatePasswordForm)" novalidate>
            <div class="mb-3">
              <label for="oldPassword" class="form-label"><i class="fa fa-key"></i> Old Password:</label>
              <input type="password" id="oldPassword" name="oldPassword" class="form-control" [(ngModel)]="user.oldPassword"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="updatePasswordForm.controls['oldPassword']?.invalid && updatePasswordForm.controls['oldPassword']?.touched">
                <small class="text-danger" *ngIf="updatePasswordForm.controls['oldPassword']?.errors?.['required']">Old password is required.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['oldPassword']?.errors?.['minlength']">Old password must be at least 8 characters long.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['oldPassword']?.errors?.['pattern']">Old password must be alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label"><i class="fa fa-key"></i> New Password:</label>
              <input type="password" id="newPassword" name="newPassword" class="form-control" [(ngModel)]="user.newPassword"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="updatePasswordForm.controls['newPassword']?.invalid && updatePasswordForm.controls['newPassword']?.touched">
                <small class="text-danger" *ngIf="updatePasswordForm.controls['newPassword']?.errors?.['required']">New password is required.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['newPassword']?.errors?.['minlength']">New password must be at least 8 characters long.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['newPassword']?.errors?.['pattern']">New password must be alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label"><i class="fa-solid fa-lock"></i> Confirm new password:</label>
              <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" [(ngModel)]="user.confirmNewPassword"
                (input)="checkPasswords(updatePasswordForm)" required>
              <div *ngIf="updatePasswordForm.controls['confirmNewPassword']?.invalid && updatePasswordForm.controls['confirmNewPassword']?.touched">
                <small class="text-danger" *ngIf="updatePasswordForm.controls['confirmNewPassword']?.errors?.['required']">Confirm new password is required.</small>
                <small class="text-danger" *ngIf="updatePasswordForm.controls['confirmNewPassword']?.errors?.['passwordMismatch']">Passwords do not match.</small>
              </div>
            </div>
            <input type="hidden" class="form-control" id="loginId" name="loginId" [(ngModel)]="user.loginId">

            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-outline-danger me-2" [routerLink]="['/']" routerLinkActive="router-link-active"><i class="fas fa-arrow-left"></i></button>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="updatePasswordForm.invalid">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
   </div>

    <div class="position-relative">
      
      <div class="row justify-content-center">
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
  