.navbar {
    background-color: #009CA6; /* Light grey background */
    box-shadow: 0 4px 2px -2px gray; /* Add a subtle shadow */
}

.navbar-brand {
    font-weight: bold; /* Make brand bold */
    font-size: 2rem; /* Increase font size */
}

.nav-link {
    font-size: 1rem; /* Standard font size */
    padding: 0.7rem 1rem; /* Increase padding for better touch target */
}

.nav-link:hover {
    background-color: #D62598;
    border-radius: 10px;

}
.d-inline-block:hover{
    background-color: #D62598;
    border-radius: 10px;
}

.navbar-toggler {
    border: none; /* Remove border around toggler */
}

.navbar-toggler-icon {
    color: #ffffff; /* Dark color for toggler icon */
}

.nav-item .nav-link {
    font-weight: bold;
    color: white;
    transition: color 0.3s; /* Smooth transition for color change */
}


.nav-item .nav-link .fas {
    margin-right: 0.5rem; /* Space between icon and text */
}

.navbar-nav.ml-auto {
    margin-left: auto; /* Align items to the right */
}


.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
        
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
        
    display: block;
    }
    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
    

.dropdown-item:hover{
    background-color: #D62598;
}
